<% content_for :title do %>
  <h1>新規アカウントを作成</h1>
  <br>
  <p>簡単に登録できます</p>
<% end %>
<% if @user.errors.any? %>
  <% content_for :error do %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2><%= pluralize(@user.errors.count, "件") %>のエラーがあります。<%= @user.name %></h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>

  <%= f.text_field :name, placeholder: 'お名前', class: "form-control has-error" %>
  <%= f.email_field :email, placeholder: 'メールアドレス', class: "form-control has-error" %>
  <%= f.password_field :password, placeholder: 'パスワード', class: "form-control has-error" %>
  <%= f.password_field :password_confirmation, placeholder: '確認用パスワード', class: "form-control has-error" %>
  <%= f.submit "アカウントを作成", class:'button' %>
<% end %>
