<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>

<div class="list-group">

  <div class="list-group-item">
    <div class="media">

      <div class="media-left">
        <% if logged_in?%>
          <% if current_user.image.present? %>
           <p><%= image_tag(current_user.image.url, :size => "32x32",:class => "img-circle" ) %></p>
          <% else %>
           <p><%= image_tag("default.png", :size => "32x32", :class => "img-circle") %></p>
          <% end %>
      </div>

      <div class="media-body">
        <strong><%= current_user.name %></strong>
      </div>

        <% else %>
          <% link_to new_session_path, notice: 'ログインが必要な機能です' %>
        <% end %>

      </div>
    </div>

  <div class="list-group-item">
    <%= image_tag(@picture.image.url, :class => "", :style => "width: 100%;") if @picture.image && @picture.image.url %>
    <%= form.hidden_field :image_cache %>
  </div>

  <% if @picture.content? %>
    <div class="list-group-item">
      <div class="input-group">
        <%= form.text_area :content, class: 'form-control', readonly: 'readonly' %>
      </div>
    </div>
  <% end %>
</div>

  <div class="pull-right" style="margin-left: 20px;">
    <%= form.submit "投稿する", class: 'btn btn-primary' %>
  </div>

<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <div class="pull-right">
    <%= form.submit "もどる", class: 'btn btn-default', name: 'back' %>
  </div>

<% end %>
