<% flash.each do |key, value| %>
  <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
<% end %>
<div class="top-image">
  <img class="large">
  <img class="small">

  <div class="top-name"><h2><%= current_user.name %>のページ</h2></div>
</div>

<div class="clearfix timeline">
  <aside>
    <p class="aside_p"><%= current_user.name =%></p>
    <div class="side-menu">
      <div class="side_menu_list"><%= link_to("ホーム", pictures_path, {class: "side_menu_link"})%></div>
      <div class="side_menu_list"><%= link_to("ページ情報", user_path(current_user.id), {class: "side_menu_link"})%></div>
    </div>
  </aside>
  <article class="posts">
    <div class="link_to_new">
      <%= link_to new_picture_path, method: :get do %>
        <i class="fa fa-plus">新しく投稿する</i>
      <% end %>
    </div>
      <% @pictures.each do |picture| %>
      <div class="post_content">
        <div class="picture_name">
          <% if picture.user.image.present? %>
            <%= image_tag(picture.user.image.url, :size => "50x50") %>
          <% else %>
             <%= image_tag("default.png", :size => "50x50") %>
          <% end %>
          <span class="user_name"><%= picture.user.name %></span>
          <span class="created_time"><%= picture.created_at %></span>
        </div>
        <div class="picture_content"><%= picture.content %></div>
        <div class="picture_image">
          <% if picture.image? %>
            <%= image_tag picture.image.url%>
          <% end %>
        </div>

      <div class="post_nav">
        <% unless picture.user_id == current_user.id %>
          <% if picture.user.favorites.present? %>
            <%= link_to 'お気に入り解除する', favorite_path(id: picture.user.favorites.ids), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
        <%= link_to picture_path(picture.id), method: :get do %>
          <i class="fa fa-info-circle"></i>
        <% end %>
        <%= link_to edit_picture_path(picture.id), method: :get do %>
          <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to picture_path(picture.id), data: { confirm: 'Are you sure?' }, method: :delete do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
      </div>
    <% end %>
  </article>
</div>
