<% content_for :title do %>
  <h1>詳細</h1>
<% end %>

<div class="text">
  <div class="title">本文</div>
  <%= @picture.content %>
</div>
<div class="image">
  <%= image_tag @picture.image.url %>
</div>

<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div class="submit">
  <%= link_to '編集する', edit_picture_path(@picture), class:"button" %>
  <%= link_to '戻る', pictures_path, class:"button" %>
</div>
