<!DOCTYPE html>
<html>
  <head>
    <title>everydayphoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/11c5374270.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class ="clearfix loggedout_menubar_container">
          <div class="logo_parent">
            <%= link_to("FannyBook", new_session_path, {class: "logo_child"})%>
          </div>
          <div class="menu_login_container">
            <% if logged_in? %>
            <%= link_to "Profile", user_path(current_user.id), {class: "profile"} %>
            <%= link_to "Logout", session_path(current_user), class: "logout", method: :delete %>
            <% else %>
            <%= link_to "Sign up", new_user_path, {class: "signup"} %>
            <%= link_to "Login", new_session_path, {class: "loginin"} %>
            <% end %>
          </div>
        </div>
      </header>
      <div class="content">
        <%= yield %>
      </div>
    <footer>
      <div class ="footer_container">
      <p>運営会社everydayphoto株式会社</p>
      <p>© 2015-2016 Copyright MyTweet Corp.</p>
      </div>
    </footer>
  </div>
</body>
</html>
